<!-- Hero Section -->
<!-- <section
	id="cc-hero-section"
	class="hero min-h-[50dvh]"
	style="background-image: url({{settings.homepage_background_image}});"
>
	<div class="hero-overlay"></div>
	<div class="hero-content w-full max-w-3xl text-neutral-content text-center">
		<div class="w-full">
			<h1 class="mb-5 text-3xl font-bold">
				Contact Support
			</h1>
			<p class="">Need help? Our support team is here to assist you. Fill
				out the form below and we'll get back to you as soon as
				possible.</p>
		</div>
	</div>
</section> -->

<section
	id="contact-support"
	class="max-w-5xl max-md:w-full md:w-2/3 lg:w-full mx-auto px-4 pt-16 pb-12"
>
	<div class="w-full">
		<h1 class="mb-5 !text-3xl font-bold text-center">
			Contact Support
		</h1>
		<p class="text-center">Need help? Our support team is here to assist
			you. Fill out the form below and we'll get back to you as soon as
			possible.</p>
	</div>
</section>

<section
	id="submit-request"
	class="max-w-5xl max-md:w-full md:w-2/3 lg:w-full mx-auto px-4 py-12"
>
	<div class="w-full bg-white p-6 rounded-lg shadow-md">
		{{request_form wysiwyg=true}}
	</div>
</section>